<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://pan.iqiyi.com/file/paopao/E4VSv31UmjMSUYdhWiTlMo-9b8xMUAYX_2JesCbZ5JGXYiLGmtpk5-Ujp8n4x54Buex2-61yRciVqZeQiu-ZFw.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://pan.iqiyi.com/file/paopao/0nkazc5DlJapBU74s9DnRiSQfD6coQN2SeALa2nhZPz9FgjkrcE9oOMVIIfIc0BG1KEUOBImCQoI4yRGN147Iw.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://pan.iqiyi.com/file/paopao/0nkazc5DlJapBU74s9DnRiSQfD6coQN2SeALa2nhZPz9FgjkrcE9oOMVIIfIc0BG1KEUOBImCQoI4yRGN147Iw.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.0CA03DBA-2EC5-45E6-A6D5-059090BF333E</string>
				<key>bundle-version</key>
				<string>10.1.5</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>kuwo</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>